@charset "UTF-8";
/* CSS Document */

/* Topbar */
.topbar {
    background: white;
    padding: 15px 0;
    border-bottom: 2px solid #ddd;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1); /*đổ bóng cho tobar*/
}

.header {
    display: flex;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Logo */
.logo img {
    height: 30px; /* Điều chỉnh kích thước logo phù hợp */
    width: auto;
}

/* Menu */
.menu ul {
    list-style: none; /*không sử dụng icon đầu dòng của item trong menu*/
    display: flex;
    gap: 40px; /*khoảng cách giữa các item trên menu*/
}

.menu ul li {
    display: inline; /*hiển thị trên 1 hàng*/
}

.menu ul li a {
    text-decoration: none;
    font-size: 16px;
    color: gray;
    transition: color 0.5s; 
}

.menu ul li a:hover {
    color: #8b5e3c;
}

/* Icons */
.icons-topbar {
    display: flex;
    gap: 20px;
}

.icons-topbar i {
    font-size: 18px;
    color: #8b5e3c;
    cursor: pointer; /*chuyển con trỏ thành bàn tay*/
    transition: transform 0.5s; 
}

.icons-topbar i:hover {
    transform: scale(1.2); /*tạo hiệu ứng phóng to icon khi trỏ vào*/
}

.banner{
	width: 100%; 
	min-height: 500px; 
	background: url( "../images/Banner (1) 1.png"); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: center;
}

main{
	width: 100%; 
	min-height: 500px
}

.gach-chan{
	border-bottom: 2px solid darkred
}

.vien{
	width: 100%; 
	min-height: 300px; 
	border: 1px solid rgba(207,58,61,1.00); 
	padding: 10px; position: relative; 
	overflow: hidden
}

.icon{
	width: 80%; 
	height: 40px; 
	position: absolute; 
	left: 10%; top: -15%; 
	display: flex; 
	justify-content:space-around; 
	transition: all 1s
}

.icon a{
	height: 40px; 
	width: 40px; 
	background-color: darkred; 
	color: white; 
	border-radius: 50%; 
	display: flex; 
	justify-content: center; 
	align-items: center; 
	text-decoration: none
}

.icon a:hover{
	background-color: rgba(106,16,18,1.00); 
	color: darkred; 
	border: 1px solid darkred
}

.vien:hover .icon{
	top: 45%
}

#feature{
	width: 100%; 
	min-height: 600px; 
	background: url("../images/bg2.png"); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: bottom center
}

.text-dam{
	color: darkred
}

.vien-trang{
	width: 100%; 
	min-height: 100px; 
	border: 1px solid white; 
	text-align: center; 
	padding: 15px
}

.vien-trang a{
	text-decoration: none; 
	color: darkred; 
	cursor: pointer
}

.vien-trang a:hover{
	color: white
}

.footer{
	width: 100%; 
	min-height: 400px; 
	background: url( "../images/Shop-Banner2.png"); 
	background-repeat: no-repeat; 
	background-size: cover; 
	background-position: bottom center
}

.new-arrivals {
    text-align: left;
}

.new {
    display: block;
    font-size: 60px;
    font-weight: bold;
    color: #8b5e3c;
}

.arrivals {
    display: block;
    font-size: 30px;
    color: #d8bfa5;
    letter-spacing: 2px;
}

.shop-now {
    display: inline-block;
    margin-top: 40px;
    padding: 10px;
    border: 2px solid #8b5e3c;
    font-size: 35px;
    font-weight: bold;
    color: #8b5e3c;
    cursor: pointer;
    transition: 0.3s;
}

.shop-now:hover {
    background: #8b5e3c;
    color: white;
}

/* Cột phải */
.right-column {
	margin-top: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


/* Hộp chứa form */
.form-box {
    background: rgba(255, 255, 255, 0.15); /* Màu nền trong suốt */
    padding: 30px;
    box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.5); 
    border-radius: 10px; /* Bo góc mềm mại */
    border: 1px solid rgba(255, 255, 255, 0.3); 
    width: 100%;
    max-width: 600px;
	margin-bottom: 30px
}

/* Form */
form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

textarea {
    height: 60px;
}

button {
    background: #d87d4a;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
	width: 30%
}

button:hover {
    background: #b8643a; /* Màu tối hơn khi hover */
    transform: scale(1.05); /* Phóng to nhẹ */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* Đổ bóng khi hover */
}


